<h1>{{title}}</h1>
{{#if conocido}}
<p>Hola {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
<p>No te conozco</p>
<form action="/ingresar" method="post">
    <imput type="text"><label><textarea name="nombre"></textarea></label><button>Ingresar</button>
</form>
{{/unless}}