.navbar-nav :active {
    text-decoration: underline;
}

.navbar-nav :hover {
    text-decoration: underline;
}

.nav-link {
    display: flex;
    align-items:end;
    margin-left: 4px;
    margin-right: 4px;
}

.navbar {
    position: fixed;
    padding-right: 100%;
    z-index: 1000;
}

#Inicio {
    position: absolute;
    top: 100px;
    color: whitesmoke;
    font-size: large;
    margin: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 900;
}

.btn {
    border-color: antiquewhite;
    color: antiquewhite;
    background-color: rgba(255, 255, 255, 0.1);;
    margin-top: 10px;
    font-weight: 300;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    border-color: antiquewhite;
    color: antiquewhite;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
    
}

.icon {
    margin-top: 5px;
}

.icon1 {
    margin-top: 20px;
}

.btn-primary { 
    border-color: black;
    color: white;
    background-color: black;
    margin-top: 10px;
    font-weight: 400;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover{
    border-color: black;
    color: white;
    font-weight: 400;
    background-color: black;
    transform: scale(1.1);
}