.navbar-nav :active {
    text-decoration: underline;
    font-weight: 500;
}

.navbar-nav :hover {
    text-decoration: underline;
    color: aliceblue;
}

.nav-link {
    display: flex;
    align-items: stretch;
    margin-left: 15px;
    margin-right: 15px;
    color: aliceblue;
}

.navbar-nav {
    background-color: transparent;
    font-size: 18px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent !important; /* Asegura que el color de fondo sea transparente */
}

.navbar-toggler {
 color: aliceblue;
 border-color: aliceblue;
 background-color: transparent;
 overflow: hidden;
}

#Inicio {
    background: url(../M2U3/fotos/piletaosc.png) no-repeat;
    background-size: cover;
    color: whitesmoke;
    height: 0.5vh;
    min-height: 650px;
    text-align: center;
}

#parrafo {
    font-size: large;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: -50px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 900;
    margin-top: 110px;
}

.btn {
    border-color: antiquewhite;
    color: antiquewhite;
    background-color: rgba(255, 255, 255, 0.1);
    ;
    font-weight: 300;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 120px;
    margin-top: -90px;
}

.btn:hover {
    border-color: antiquewhite;
    color: antiquewhite;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
}

.icon {
    margin-top: 5px;
}

.btn-primary {
    border-color: black;
    color: white;
    background-color: black;
    margin-top: 10px;
    font-weight: 400;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
    border-color: black;
    color: white;
    font-weight: 400;
    background-color: black;
    transform: scale(1.1);
}

#sección {
    width: 100px;
}

html {
    scroll-behavior: smooth;
}

.scroll {
    scroll-margin-top: 100px;

}


.carousel-inner {
    width: 100%;
    height: 450px;
}

.carousel-item img {
height: 90%;
object-fit: cover;
}

#card {
    width: 449px;
    height: 450px;
}

.card-header {
    font-size: 30px;
    font-weight: 500;
}