<!--presentación-->
    <div class="container scroll-seccion" id="inicio">
            <h1 class="titulo">TurismoLa Falda</h1>
    </div>

    <!--intro-->
    <div class="scroll-seccion" id="primero">
        <h1 class="intro scroll-seccion">El jardín de Punilla</h1>
        <p class="text">La Falda tiene rincones imperdibles con la vista de las hermosas Sierras que la rodean.
            En esta sección te mostramos nuestros lugares favoritos para recorrer por la zona. 
        </p>
    </div>

    <!--hotel eden-->

    <div class="row">
        <div class="eden col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5">
            <h3>Hotel Edén</h3>
            <p>Visitá el hotel que le dió origen a la ciudad. Actualmente funciona como museo y allí
                 podes conocer su historia, como fue evolucionandon en el tiempo y las personas que lo visitaron.
                 Dispone de visitas diurnas y para los que se animen pueden ir a la nocturna.
                 Para saber más podes hacer click  <a href="https://edenhotellafalda.com.ar/">acá</a>
         </p>
        </div>
    </div>
    <!--el dragon-->
    <div class="row">
        <div class="texto col-lg-5 offset-lg-1">
            <h3>Mirador El Dragón</h3>
            <p>Para ir a en una tarde calurosa con unos mates y una manta para tirarse en el pasto. 
                Podes ir en auto o caminando, a metros del Hotel Edén se encuentra este mirador imperdible 
                con una vista 360° de las sierras. <a href="https://www.instagram.com/turismovillagiardino/reel/CwabzxoM4WS/">Aquí</a>
                te dejamos más información.
         </p>
        </div>
        <div class="dragon col-lg-5 ">
        </div>
    </div>
    <!--la gruta-->
    <div class="row">
        <div class="gruta col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5 ">
            <h3>Villa Giardino</h3>
            <p>Aunque no sea parte de La Falda, es un lugar muy bonito y pintoresco que recomendamos ir si o si, 
                más estando tan cerca. Si te interesa saber más <a href="/giardino"> aquí</a> te dejamos una sección
                especial con todos los atractivos de Villa Giardino.
         </p>
        </div>

    </div>
    <!--la banderita-->
    <div class="row">
        <div class="texto col-lg-5 offset-lg-1">
            <h3>La Banderita</h3>
            <p>Si te gustan las alturas y hacer deporte, esto es para vos. Una caminata por la montaña
                con duración de alrededor de una hora y media. Se encuentra en buenas condiciones, 
                bien señalizado y abierto al público, aunque si es tu primera vez o no querés ir solo podés ir 
                acompañada de un guía turístico. Más info <a href="https://www.turismolafalda.gob.ar/circuitoTuristicoDetalle/CerroLaBanderita">acá</a>
         </p>
        </div>
        <div class="banderita col-lg-5 ">
        </div>
    </div>

    <!--cavernas-->
    <div class="row">
        <div class="cavernas col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5 ">
            <h3>Cavernas El Sauce</h3>
            <p> Siguiendo con las aventuras te recomendamos ir a esta Caverna Natrual, una oportunidad única
                ya que es una de las pocas que está abierta al público en el país. Para hacer reservas y más 
                te dejamos su página <a href="https://cavernaselsauce.com.ar/"> aquí.</a>
         </p>
        </div>
    </div>
    <!--cascadas-->
    <div class="row">
        <div class="texto col-lg-5 offset-lg-1">
            <h3>Dique y Complejo 7 Cascadas</h3>
            <p>Para llegar es necesario ir en auto ya que está alejado de la zona céntrica de la ciudad.
            Es perfecto para los días de calor, allí se encuentra el <a href="https://www.turismolafalda.gob.ar/circuitoTuristicoDetalle/7cascadas">Complejo 7 Cascadas</a>, con piletas y cascadas 
            para toda la familia. Si vas se recomienda ir temprano ya que es muy turistico, más en la época de temporada.
         </p>
        </div>
        <div class="cascadas col-lg-5 ">
        </div>
    </div>

    <!--mamamia-->
    <div class="row">
        <div class="isolina col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5 ">
            <h3>Isolina Casa de Té</h3>
            <p> Pasando para la sección de las meriendas te recomendamos esta casa de té a pocas cuadras del alojamiento.
                Una cazona remodelada que ofrece una carta variada de cosas dulces y saladas. Te dejamos su carta <a href="https://www.instagram.com/isolinacasadete/?hl=es">acá.</a>
         </p>
        </div>
    </div>

    <!--gavilan-->
    <div class="row">
        <div class="texto col-lg-5 offset-lg-1">
            <h3>Gavilán Patas Largas</h3>
            <p>Si sos más de las birras y las cosas saladas te conviene venir <a href="https://www.instagram.com/gavilanpataslargas/?hl=es">acá.</a>Un bar con cerveza tirada
            y buena música, ubicado sobre la Avenida principal.
         </p>
        </div>
        <div class="gavilan col-lg-5 ">
        </div>
    </div>

    <!--si quiero-->
    <div class="row">
        <div class="siquiero col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5 ">
            <h3>Heladería Si Quiero</h3>
            <p> Y para pasar los días de calor, además de un buen chapuzón en la pileta, te recomendamos 
                esta es una heladería artesanal muy particular que tiene savores únicos y originales.
                Te dejamos su <a href="https://www.instagram.com/siquierolafalda/?hl=es">Instagram</a> para que veas lo que ofrece.
         </p>
        </div>
    </div>
