/*
 font-family: "Poppins", sans-serif;
 */

 body {
    font-family: "Poppins", sans-serif;
    background-color: #98ff830e

}

.collapse {
    /*grup items navbar*/
    display: flex;
    justify-content: center;
    color: #333333;
    text-align: center;
}

.navbar {
    /*barra*/
    padding: 0;
    height: 70px;
    background-color: #f2f2f2
}

.navbar-brand {
    /*nala img*/
    padding-left: 50px;
}

.nav-item {
    margin: 0 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-item:active{
    text-decoration: underline;
    font-weight: 600;
}

.nav-item:hover {
    text-decoration: underline;
    font-weight: 600;
    transform: scale(1.1);
}

.container {
    background: url(/fotos/casa.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 55px;
    margin-top: 70px;
}


.titulo {
    /*bienvenidos*/
    font-weight: 700;
    color: #f2f2f2;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.329);
    font-size: 55px;
}

.btn-outline-secondary {
    /*saber mas boton*/
    border-color: #f2f2f2;
    color: #f2f2f2;
    background-color: rgba(44, 44, 44, 0.267);
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 20px;
}

.btn-outline-secondary:hover {
    transform: scale(1.1);
    background-color: rgba(44, 44, 44, 0.562);
    border-color: #f2f2f2;
}


.btn-outline-dark {
    /*boton turismo*/
    margin: 30px auto;
    display: flex;
    justify-content: center;
    background-color: #5f852dec;
    color: #f2f2f2;
    width: 90vw;
    height: 75vh;
    border: none;
    margin-top: 60px;
}

.btn-outline-dark:hover {
    background-color: #5f852d;
    border: none;
}

.box {
    text-align: left;
    margin: 100px 50px;
}

.portada {
    width: 500px;
    height: 70vh;
    object-fit: cover;
    margin: auto 0;
}

.center {
    /*seccion nosotros*/
    text-align: center;
    margin: 30px auto;
}

.nosotros {
    /*titulo nosotros*/
    font-weight: 700;
    font-size: 45px;
}

.subtitulos { 
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.subtitulo {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
}

.uno {
    /*carrusel imgs*/
    height: 500px;
    width: 100%;
}

.uno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} 


.card-text { /*tarjetas de escencial y servicios*/
    list-style: none;
}

.card-text li {
    margin-bottom: 10px;
}
.card-header { /*titulo de seccion servicios*/
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    text-align: center;
    margin: 60px 0;
}
 
.col { /*columnas tarjetas*/
    width: 450px;
    display: flex;
    justify-content: center;
}

.card-title {
    font-weight: 600;
}
.card {
width: 400px;
margin-bottom: 20px;
background-color: #21583b28;
}

.new { /*boton politica*/
    background-color: transparent;
    color: blue;
    text-decoration: none;
    border: none;
    margin-left: -12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.new:hover {
    transform: scale(1.1);
    color: blue;

}

.comedor {
    background: url(/fotos/comedor.jpg);
    background-size: cover;
    height: 350px;
    background-position: bottom;
}

.living {
    background: url(/fotos/living.jpg);
    background-size: cover;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

.cocina {
    background: url(/fotos/cocina1.1.jpg);
    background-size: cover;
    height: 350px;
    background-position: bottom;
}

.cocina1 {
    background: url(/fotos/cocina1.jpg);
    background-size: cover;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

.hab1 {
    background: url(/fotos/hab1.1.jpg);
    background-size: cover;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

.hab2{ 
    background: url(/fotos/hab2.jpg);
    background-size: cover;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

.ba単o1 {
    background: url(/fotos/ba単o1.jpg);
    background-size: cover;
    height: 350px;
    background-position: bottom;
}

.ba単o2 {
    background: url(/fotos/ba単o2.jpg);
    background-size: cover;
    height: 350px;
    background-position: bottom;
}

.col-lg-5 {
    margin: 5px;
}

.mapa { /*titulo ubi*/
    font-size: 35px;
    font-weight: 700;
    display: flex;
    justify-content: center;
margin: 30px 0px;
}

.iframe { /*mapa*/
    width: 100%;
}


.turismo { /*titulo seccion turismo*/
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
}

.botones-tarjetas { /*botones tarjetas carrusel*/
    border: none;
    background-color: transparent;
}

.paginas { /*a*/
    text-decoration: none;
    text-align: left;
}

.h-100:hover {
    transform: scale(1.1);
}

.h-100 { /*tarjetas de carrusel*/
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 300px;
    margin: 15px 15px;
}

.h-100 img {
    height: 200px;
    object-fit: cover;
}


#carouselExampleDark { /*carrusel de tarjetas */
    margin-top: 30px;
}

.scroll-seccion {
    scroll-margin-top: 70px;
}

html {
    scroll-behavior: smooth;
}

.escribir { /*boton comentarios*/
    background-color: transparent;
    border-color: #333333;
    color: #333333;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.escribir:hover {
    color: #333333;
    border-color: #333333;
    background-color: #cccccc9f;
    transform: scale(1.1);
}

.footer { /*pie*/
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contatco {
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: 30px 0px;

}

.footer-texts {
    color: #f2f2f2;
    text-align: center;
}

.social-link-container /*iconos y titulos*/
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-link-container a { /*iconos social media*/
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    margin: 30px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #333333;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-link-container a:hover {
    transform: scale(1.1);
    background-color: #dfdfdf9f;
}

.derechos { /*texto final*/
    color: #f2f2f2;
    opacity: 0.7;
    text-align: center;
}

.pags {
    text-decoration: none;
    color: #333333;
}

.form-label {
    margin: 0 auto;
}


.molino { /*habitaciones*/
    background: url(/fotos/hab1.jpg);
    background-size: cover;
    height: 350px;
    margin-right: 40px;
    margin-bottom: 20px;
    object-position: bottom;
}

.tanque { /*al aire libre*/
    background: url(/fotos/quincho.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 20px;
}

.texto {
margin-right: 40px;
}

.gruta { /*estadia*/
    background: url(/fotos/cama.jpg);
    background-size: cover;
    height: 350px;
    margin-right: 40px;
    margin-bottom: 20px;

}

.g-3 {
    margin-top: 30px;
}

.form-control {
    background-color: transparent;
    border-color: #f2f2f2;
    margin: 10px 0;
}

.btn-primary {
    background-color: #5f852d;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4c6b24;
    border: none;
    transform: scale(1.1);
}

.btn-primary:active {
    background-color: #4c6b24;
    border: none;
}

.contacto {
    margin-top: 20px;
}