    <!--presentación-->

    <div class="container scroll-seccion" id="inicio">
        <div class="text">
            <h1 class="titulo">Bienvenidos a <br> Nala La Falda</h1>
            <a type="button" class="btn btn-outline-secondary" href="#primero">Saber más</a>
        </div>
    </div>
    <!--nosotros-->
    <div class="center scroll-seccion" id="primero">
        <h1 class="nosotros scroll-seccion">Tu lugar ideal para descansar</h1>
        <p class="subtitulos">Te invitamos a disfrutar de la experiencia de Nala La Falda, una casa de alquiler temporal
            que trabaja
            todo el año para que goces de las sierras de Córdoba de la mejor forma posible.</p>
    </div>
    <!--carrusel-->
    <div id="carouselExample" class="carousel slide col-lg-10 offset-lg-1">
        <div class="carousel-inner ">
            <div class="carousel-item uno active">
                <img src="/fotos/pileta.jpg" alt="...">
            </div>
            <div class="carousel-item uno">
                <img src="/fotos/pileta1.jpg" alt="...">
            </div>
            <div class="carousel-item uno">
                <img src="/fotos/quincho3.jpg" alt="...">
            </div>
            <div class="carousel-item uno">
                <img src="fotos/fondo.jpg" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--escencial-->
    <h3 class="card-header scroll-seccion" id="Servicios">Servicios, comodidades y equipamiento</h3>
    <!--habitacuines-->
    <div class="row justify-content-center">
        <div class="molino col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Habitaciones </h4>
                    <ul class="card-text">
                        <li>Acceso a Internet</li>
                        <li>Calefacción </li>
                        <li>Aire acondicionado</li>
                        <li>Tv y Netflix</li>
                        <li>Toallas y toallones</li>
                        <li>Sábanas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- al aire libre-->
    <div class="row justify-content-center">
        <div class="texto col-lg-5 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Al aire libre</h4>
                    <ul class="card-text">
                        <li>Estacionamiento </li>
                        <li>Pileta</li>
                        <li>Quincho</li>
                        <li>Asador</li>
                        <li>Parrilla</li>
                        <li>Horno de barro</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tanque col-lg-5 ">

        </div>
    </div>
    <!--estadia-->
    <div class="row justify-content-center">
        <div class="gruta col-lg-5 offset-lg-1">
        </div>
        <div class="parrafo col-lg-5 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Estadía</h4>
                    <p>Check-in: Después de las 02 pm.<br>
                       <br> Check-out: Descpués de las 10 am.
                    </p>
                    <h5><a type="button" class="btn new" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Politicas de cancelación
                        </a></h5>

                </div>
            </div>
        </div>

    </div>

    <!--modal politica-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Politicas de cancelación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Ofrecemos un reembolso completo si cancelas al menos 20 días antes de la estadía. Si cancelas al
                        menos 10 días antes, recibirás el 50% del importe pagado. Una vez confirmada la reservación, y
                        pasado el período mencionado, no es posible obtener un reembolso.
                </div>
            </div>
        </div>
    </div>

<!--fotos-->
<h3 class="card-header scroll-seccion" id="Servicios">Fotos</h3>
<div class="row justify-content-center">
    <div class="comedor col-lg-5">
    </div>
    <div class="living col-lg-5 ">
    </div>
</div>
<div class="row justify-content-center">
    <div class="cocina col-lg-5">
    </div>
    <div class="cocina1 col-lg-5 ">
    </div>
</div>
<div class="row justify-content-center">
    <div class="hab1 col-lg-5 ">
    </div>
    <div class="hab2 col-lg-5 ">
    </div>
</div>
<div class="row justify-content-center">
    <div class="baño1 col-lg-5 ">
    </div>
    <div class="baño2 col-lg-5 ">
    </div>
</div>


    <!--ubicacion-->
    <h1 class="card-header scroll-seccion" id="ubicacion">Ubicación</h1>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.5248056696123!2d-64.473708025346!3d-31.095142580793578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d8251652cd03f%3A0xf8213bf5bde38a8a!2sDiag.%20Sud%20368%2C%20X5172%20La%20Falda%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1718486521225!5m2!1ses-419!2sar"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <!--tursmo-->
    <button type="button" class="btn btn-outline-dark scroll-seccion" id="turismo">
        <div class="box">
        <h1 class="turismo">Turismo</h1>
        <p class="subtitulo">Si venis a La Falda y no sabes a donde ir o por donde empezar, mirá nuestras
            recomendaciones. Nos interesa que tengas el mejor viaje asi que decidimos buscar información de 
            nuestros lugares favoritos por la zona para
            que no pierdas ni un ratito de tu estadía.<br> Apretá <a href="">acá</a> y conocé más</p>
        </div>
        <img src="/fotos/villagiardino.jpg" alt="" class="portada">
    </button>
